@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300);
*, *:after, *:before {
  box-sizing: border-box;
}


.navbar {
  display: inline-block;
  padding: 0 15px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.navbar li {
  display: table-cell;
  padding: 15px;
  min-width: 75px;
  text-align: center;
}
.navbar li a {
  display: block;
  color: #202C39;
  text-decoration: none;
  font-size: 32px;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}
.navbar li.active a {
  color: #CCB68D;
  text-shadow: 1px 1px 2px #000;
}
.navbar li.marker {
  display: inline-block;
  position: absolute;
  height: 2px;
  padding: 0;
  background: #CCB68D;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
  top: calc(100% - 2px);
  left: 15px;
}
.navbar li.anim {
  -webkit-animation: 0.4s shake ease-in;
  animation: 0.4s shake ease-in;
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  50% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes shake {
  0% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  50% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
