body {
  	background-color: #EAEAEA;
  	font-family: 'Oswald';
	margin: 0;
	padding: 0;
	
}

h1 {
	color: #202C39;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}

.header {
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	height: 150px;
}

.header IMG {
	display: block;
	align-content: center;
	margin-left: auto;
	margin-right: auto
}

.header ul {
	
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	text-align: center;

}

.header li {
	display: inline;
	
}

.header li a {
	width: 12%;
	display: inline-block;
    color: #CCB68D;
    padding: 14px 14px;
    text-decoration: none;
	font-size: 25px;
	text-transform: uppercase;


}

.header li a:hover {
	color: #202C39;	
}

.header.past-main {
	position: fixed;
	background-color: #EAEAEA;
	width: 100%;
	margin-top: 0px;
	z-index: 5;
	height: 60px;
}

.header.past-main IMG {
	
	float: left;
	margin-right: 100px;
	height: 50px;
	margin: 5px;
	
}

.header.past-main ul {
	float: right;
	position: relative; top: 50%; transform: translateY(-50%); color: #CCB68D;
}

.header.past-main li a{
	width: 15%;
	margin-left: 20px;
}

.social {
	text-align: center;
}

.largeImage {
	top : 150px;
}



.content p {
	color: #202C39;
	font-size: 1.5em;
	text-align: center;
	font-family: 'Dosis';
	width: 60%;
	align-content: center;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

.intro {
	text-align: center;
	color: #202C39;
	margin-top: 280px;
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
	z-index: 16;
	position: fixed;
}

.largeImage {

	background-image: url('../images/placeholder.png');
	height: 400px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
}

#main {
  height:10px;
}

#below-main {

}
