@font-face { font-family: BaskervilleNo2; src: url(../baskerville.otf); } 
$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);


body, html {
	width: 100%;
	overflow-x: hidden;
  margin:0;
  padding:0;
}


p,h1,h2 {
  color: #3b3838;
}

#whatwedo {
  background-color: blue;
}

h1 {
	font-family: BaskervilleNo2;
	font-weight:normal;
}


.barba-container p {
  line-height: 1.8em;
  width:70%;
  font-size:18px;
  margin:auto;

}

.barba-container div {}

.tracking-out-contract {
	-webkit-animation: tracking-out-contract 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: tracking-out-contract 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.scalable-wrapper {

	margin-top: 30px;
	margin-right: 0px;
	resize: both;
  position: absolute;
  height: 100px;
  width: 200px;
}

.logo {
	margin-right: 0px;
	width:200px;
	height: 100px;
	position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

.logo #horizon {
	text-align: center;
	font-size: 30px;
	margin-bottom: -25px;
}

.logo #corp{
	text-align: center;
	font-size:19px;
	color: #444444;
}

.logo img {
	margin-top: 4px;
	margin-left: 4px;
	height: 40px;
	position: fixed;
}


.enlarge{
	-webkit-transition: all 400ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 400ms ease-in;
  -ms-transform: scale(1.5);   
  -moz-transition: all 400ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 400ms ease-in;
  transform: scale(1.5);
}

.shrink {
	-webkit-transition: all 400ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 400ms ease-in;
  -ms-transform: scale(1);   
  -moz-transition: all 400ms ease-in;
  -moz-transform: scale(1);
  transition: all 400ms ease-in;
  transform: scale(1);
}

.break {
	height: 150px;
	width: 100%;
}

.content {
	margin-left: auto;
	margin-right:auto;
	color: #000000;
	font-family: 'Karla', sans-serif;
	font-size: 24px;
	text-align: justify;
}


.content h1 {
	text-align: center;
	text-transform: uppercase;
}

.content h2 {
  text-align: center;
}

.content ul {
  list-style-type:none;

}

#name {
  font-weight: bolder;
  text-transform: uppercase;
}

#team li {
  margin-bottom: 100px;
}

.header {
  z-index: 10;
	display: block;
	margin-top: -20px;
  margin-left:3%;
  margin-right:3%;
  width: 94%;
	height: 50px;
	position: fixed;
  }


@keyframes nav-up {
	0% {margin-top:80px;}
	100%{margin-top:15px;}
}

@keyframes nav-down {
	0%{margin-top:15px;}
	100% {margin-top:80px;}

}

.nav {
	position: relative;
	margin-top:80px;
	float: right;
	animation-name: nav-down;
    animation-duration: 0.5s;
  mix-blend-mode:difference;
}

.nav-center {
	margin-top:15px;
	animation-name: nav-up;
    animation-duration: 0.5s;
}

.nav ul {
	display: inline;
	position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	text-align: center;
      text-decoration: none;

}

.nav li {
	display: inline;
      text-decoration: none;


}

.nav li a , .nav li p{
	font-family: BaskervilleNo2;
	color: #000000;
	width: auto;
	display: inline-block;
  	padding: 8px 8px;
  	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
  	margin-left: 10px;
  	margin-right: 10px;
}

.nav li:nth-child(n+2):before {
    content: "/";
    font-size: 25px;



}

.nav li a:hover {
	color: #999999;
}

.team ul {
    list-style-type: none;
}

.nav li {
  	text-decoration: none;
    list-style-type: none;
	display: inline-block;

}
/*
 *	----------
 *	ANIMATIONS
 *	----------
 *


/* ----------------------------------------------
 * Generated by Animista on 2018-7-16 21:14:1
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-out-contract
 * ----------------------------------------
 */
@-webkit-keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}
@keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.head-back {
  height: 100px;
}

.icons {
	text-align: center;
  width: 100%;
  background-color:#F7F7F7;
}

#icon-container {
  position: relative;
	width: 20vw;
  max-width:400px;
	display:inline-block;
	margin:15px;
	text-align: center;
  -webkit-transition: width 1s; /* Safari */
  transition: width 1s;
  overflow: hidden;

}

.circle {
  background-color: #fff;
	height: 15vw;
	width: 15vw;
  max-height: 250px;
  max-width: 250px;
	border:10px solid #bbb;
	border-radius: 50%;
	display: inline-block;
	overflow: hidden;
  transition: height 1s;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#coin-icon svg {
	height: 100%;
	width: 100%;
	margin-left:5px;
}

#blueprint-icon svg{
	margin:15px;
}

svg {
  opacity:1;
  pointer-events: none;

}
svg path{
    fill-opacity: 1;
    stroke: #000;
    stroke-width: 1;
}
svg ellipse{
    fill-opacity: 1;
    stroke: #000;
    stroke-width: 1;
}

.fade-out {
  animation: fadeOut 1s 1 ease-in-out forwards;
}


.draw-in-coin path{
    animation: draw 1s 1 ease-in-out 0s forwards;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}
.draw-in-coin ellipse{
    animation: draw 1s 1 ease-in-out 0s forwards;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

.draw-in-buildings path{
    animation: draw 1s 1 ease-in-out 0s forwards;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}
.draw-in-buildings rect:not(#wind) {
    stroke-dasharray: 850;
    stroke-dashoffset: 850;
    animation: draw 1s 1 linear 0.5s forwards;
}
.draw-in-buildings line:not(#floor) {
    stroke-dasharray: 870;
    stroke-dashoffset: 870;
    animation: draw 1s 1 ease-in-out 1.5s forwards;
}
.draw-in-buildings #wind {
	stroke-dasharray: 870;
    stroke-dashoffset: 870;
    animation: draw 1s 1 ease-in-out 1.5s forwards;
}
.draw-in-buildings #floor {
    stroke-dasharray: 870;
    stroke-dashoffset: 870;
    animation: draw 1s 1 ease-in-out 1.5s forwards;
}

.draw-in-blueprint path{
    animation: draw 2s 1 ease-in-out 0s forwards;
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
}
.draw-in-blueprint line{
    animation: draw 3s 1 ease-in-out 0.5s forwards;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}
.draw-in-blueprint polyline {
    animation: draw 1s 1 linear 0s forwards;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}


@keyframes fadeOut{
  0% {opacity:1;}
  100%{opacity:0;}
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.whole-section {
  padding-top:15px;
  padding-bottom:15px;

}

#real {
  background-color:#EEE;
}

#project {
  background-color:#F7F7F7;
}

#private {
  background-color:#EEE;
}

#csr {
  background-color:#F7F7F7;
}

.section-heading {
  max-width: 1200px;
  width:80vw;
  margin:auto;
  overflow: hidden;
}

.section-heading p {
  width:100%;
}

.section {
  max-width: 1200px;
  max-height:600px;
  height: 40vw;
  width:80vw;
  margin:auto;
  overflow: hidden;
}

.section-text {
  vertical-align: top;
  text-align: justify;
  height: 100%;
  width:49%;
  display:inline-block;
}

.photo {
  margin-top:5vw;
  vertical-align:middle;
  text-align: center;
  height: 100%;
  width:49%;
  display: inline-block;
}

.photo img {
  object-fit: cover;
  height:70%;
  width:90%;

}

.photo iframe {
  object-fit: cover;
  height:70%;
  width:90%;
}

#power-gen img {
  object-fit:contain;
}

#sub-caption {
  padding-left: 3px;
  border-left: 3px solid #447899;
  font-size:0.6em;
  line-height: 1.2em;
  margin-left: 5%;
}

.section p {
  width:100%;
  font-size:1rem;
  text-align: left;

}

.section h2 {
  margin-top:5vw;
  text-align: left;
}

.section a:hover {
  color:#447899;
}


.section a {
  text-decoration: none;
  position: relative;
  /*
    webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  */
}
.section a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #447899;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.25s cubic-bezier(1, 0.25, 0, 0.75) 0s;
  transition: all 0.25s cubic-bezier(1, 0.25, 0, 0.75) 0s;
}
.section a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/*
.section {
  width:80%;
  margin:auto;

}

.section .container {
  overflow: hidden;
  min-width: 371px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.section p, .section h2 {
  margin-left: 0;
  text-align: left;
  transition:transform .3s ease-in-out,opacity .3s ease-in-out,-webkit-transform .3s ease-in-out;
  transition-delay:0.2s;
}

.section h2 {

  position: relative;
  padding-bottom: 38px;
  margin-left: 0;
  text-align: left;

}

.photo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height:0;
  padding-top: 50%;


}


.section-heading {
  text-align: center;

}

.section-heading h2 {
  letter-spacing: 4.8px;
}

.section h2::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 59px;
  height: 3px;
  background-color: #005293;
}

*/

.door-top-start {
  top: auto;
  bottom: 50%;
  background-color: #51627c;
  position: fixed;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 50%;
  animation: door-move-up 2s 1 ease-in-out 0s forwards;
  
}
.door-bottom-start {
  bottom:auto;
  top:50%;
  background-color: #51627c;
  position: fixed;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 50%;
  animation: door-move-down 2s 1 ease-in-out 0s forwards;

}

@keyframes door-move-up {

  to {
    transform:translate(0,-200%);
  }
}

@keyframes door-move-down {

  to {
    transform:translate(0,200%);
  }

}

.footer {
  font-size:14px;
  padding-top: 50px;
  padding-bottom: 50px;
  width:80vw;
  margin:auto;
  font-family: 'Karla', sans-serif;
}

.footer table {
  width:100%;
  border-spacing: 25px 5px;
}

.footer th {
  border-bottom: 1px solid #AAA;
}

.footer th, td {
  width:25%;
  padding: 5px;
  text-align: left;
}

.contact-form {
  background-color: #F7F7F7;
  margin: 0px;
  padding-top:25px;
  padding-bottom: 25px;
  margin-top:20px;
}

form {
  width: 60%;
  text-align: center;
  margin: 20px auto;
  max-width: 1200px;
}
form input, form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  margin: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;

}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #cedce4 inset;
}

form input:focus, form textarea:focus {
  -moz-box-shadow: 0 0px 5px #618da9 !important;
  -webkit-box-shadow: 0 0px 5px #618da9 !important;
  box-shadow: 0 0px 5px #618da9 !important;
}
form #input-submit {
  color: white;
  background: #618da9;
  cursor: pointer;
  font-family: 'Karla', sans-serif;

}
form #input-submit:hover {
  -moz-box-shadow: 0 2px 2px 2px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 2px 2px 2px rgba(170, 170, 170, 0.6);
  box-shadow: 0 2px 2px 2px rgba(170, 170, 170, 0.6);
}
form textarea {
  font-family: 'Karla', sans-serif;
  height: 126px;
  width: 100%;
}

.half {
  float: left;
  width: 45%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 5%;
}

@media (max-width: 750px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}
/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}
